<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Заготовка магазина</title>
    <link rel="stylesheet" th:href="@{../static/css/stylesheet.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Cart)}"/>

    <h1>Формируем заказ</h1>

    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>Название товара</th>
            <th>Количество</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cart.items}">
            <td th:text="${item.product.title}"/>
            <td th:text="${item.quantity}"/>
            <td th:text="${item.price}"/>
        </tr>
        </tbody>
    </table>
    <span th:text="'Общая стоимость: ' + ${cart.price}"/>
    <br>

    <form th:action="@{/orders/create}" method="POST">
        <input name="address" type="text" class="form-control" placeholder="Адрес доставки">
        <input name="phone_number" th:value="${def_phone != null ? def_phone : null}" type="text" class="form-control" placeholder="Номер телефона">
        <button class="btn btn-primary" type="submit">Оформить заказ</button>
    </form>

<!--    <a class="btn btn-primary" th:href="@{/orders/create}">Оформить заказ</a>-->
</div>

</body>
</html>